@model  MyNotes.UI.Web.ViewModels.Admin.Group.SaveGroupViewModel

@using MvcBase.WebHelper.Mvc.Extensions;

<div id="updateGroup" class="updPnl center" >
    @using (Ajax.BeginJqueryForm("frmUpdateGroup", MVC.Group.Actions.UpdateGroup(), "updateGroupCallback"))
    { 
        <div class="row-fluid">
            <div class="span3 jqLabel">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="span9 jqInput">
                @Html.TextBoxFor(m => m.Name, new { placeholder = "Group Name", @class = "input-xlarge" })
                @Html.PopoverValidationMessageFor(m => m.Name)
            </div>
        </div>
        @Html.HiddenFor(m => m.Id, new { style = "display:none;" })
        <div class="row pull-right">
            <input type="submit" id="btnUpdateGroup" class="btn btn-success" value="Update" />
            <a id="cancelUpdateGroup" class="btn jqCancelUpdate" data-dismiss="modal">Cancel</a>
        </div>
    }
</div>