@model MyNotes.UI.Web.ViewModels.Shared.ErrorMessageInfo

@{
    ViewBag.Title = "My Notes - Error";
}

<hgroup class="title">
    <h1 class="error">@Model.Heading</h1>
    <h2 class="error">@Model.Message</h2>
</hgroup>
