@model MyNotes.UI.Web.ViewModels.Admin.Group.NewGroupViewModel

@using MvcBase.WebHelper.Mvc.Extensions;

<div id="addGroup" >
    @using (Ajax.BeginJqueryForm("frmAddGroup", MVC.Admin.Actions.SaveGroup(), "addGroupCallback"))
    { 
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Add New Group</h3>
        </div>
        <div class="modal-body">
            <div class="row center">
                @Html.TextBoxFor(m => m.Name, new { placeholder = "Group Name", @class = "input-xlarge" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" id="btnAddGroup" class="btn btn-success" value="Add" />
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    }
</div>
<div id="popupAltMsg" class="row center" style="display:none;">
 @Html.ValidationSummary(true)
</div>