@model IEnumerable<MyNotes.UI.Web.ViewModels.Admin.Group.GroupViewModel>

<div id="groupList" class="row span8">
    <table id="groupTbl" class="table table-striped">  
        <thead>
            <tr>
                <th>S#</th>
                <th>Name</th>
                <th>System A/c</th>
            </tr>  
        </thead>  
        <tbody>
            @{
                var index = 1;
                foreach (var group in Model)
                { 
                    <tr data-id="@group.Id">
                        <td>@index</td>
                        <td>@group.Name</td>
                        <td>@(group.IsSysAccount ? "Yes" : "No")</td>
                    </tr>
                    index += 1;
                }
            }
        </tbody>  
    </table>
    <div class="row" >&nbsp;</div>
    <div class="row pull-right">
        <button id="btnNewGroup" class="btn btn-primary">New Group</button>
    </div>
</div>

<script type="text/x-jsrender">
    <tr data-id="{{:Id}}" >
        <td>{{:#index+1}}</td>
        <td>{{:Name}}</td>
        <td>{{if IsSysAccount}}Yes{{else}}No{{/if}}</td>
    </tr>
</script>