@model  MyNotes.UI.Web.ViewModels.Admin.Group.SaveGroupViewModel

@using MvcBase.WebHelper.Mvc.Extensions;

<div id="updateGroup" class="jqUpdatePnl" >
    @using (Ajax.BeginJqueryForm("frmUpdateGroup", MVC.Admin.Actions.UpdateGroup(), "updateGroupCallback"))
    { 
        <div class="row center">
            @Html.TextBoxFor(m => m.Id, new { style = "display:none;" })
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Group Name", @class = "input-xlarge" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="row pull-right">
            <input type="submit" id="btnUpdateGroup" class="btn btn-success" value="Update" />
            <a id="cancelUpdateGroup" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    }
</div>