/********************************************************
Element styling
********************************************************/
body 
{
	padding-top: 60px !important;
}

table
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom:0px !important;
}

select
{
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-right: 5px;
}

tbody > tr
{
	background-color: #F9F9F9 !important;
}

/********************************************************
Validation Styling
********************************************************/
.field-validation-error {
	color: #b10000;
	font-size: smaller;
}

.field-validation-valid {
	display: none;
}

.input-validation-error, .input-validation-error:focus {
	color: #B94A48 !important;
	border-color: #B94A48 !important;
}

.validation-summary-errors {
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid {
	display: none;
}

/********************************************************
Class and Id styling
********************************************************/
.required:after
{
    content: "*";
    color: Red;
}

.center
{
	margin:auto 0px !important;
	text-align:center !important;
}

#footer
{
	padding: 2px 20px;
	position:fixed;
	bottom: 0px;
}

#popupAltMsg,
#altMsg
{
	position: fixed;
	right: 50px;
	top: 50px;
	min-width: 350px;
	width: 200px;
	z-index:1100;
}

.updateFrm > td
{
	background-color: White !important;
}

div.list
{
	border: 1px solid #000;
	padding: 3px;
}

tr.updRow,  tr.updRow td
{
	padding: 0px !important;
	background-color: White !important;
}

div.updPnl
{
	padding:20px;
	display:none;
}

.note
{
    color: Red;
}